*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightyellow;
}

.main{
    position: relative;
    width: 440px;
    height: 440px;
    margin: auto;
    margin-top: 50px;
    background: url('./clockbgr.png') no-repeat;
    background-size: 100%;
}

#hour, #minute , #second {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
    background-color: red;
}

#hour {
    width: 1.2%;
    height: 25%;
    left: 49.30%;
    top: 25%;
    background-color: black;
    z-index: -1;
}

#minute {
    width: 1.2%;
    height: 29%;
    left: 49.24%;
    top: 21%;
}

#second {
    width: 1%;
    height: 39%;
    left: 49.30%;
    top: 11.05%;
}

#todo{
    border: 2px solid red;
    font-size: 2.3em;
    margin: auto;
    width: 500px;
    text-align: center;
    margin-top: 50px;
}
